<!doctype html>
<html lang="en">
    <head>
        <title>MiniProject</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link rel="stylesheet" href="http://pyscript.net/alpha/pyscript.css">
        <script defer src="http://pyscript.net/alpha/pyscript.js"></script>

    </head>
    <body>
        <div class = "center">
        <header>MiniProject</header>

        <form>
            <!--here is where there will be a request idk-->
            <!--connection to OpenAI-->
        </form>
    </div>

    <div class = "result">
    {% if result %}
    <div>
        <h3>Ollama Response:</h3>
        <p>{{ result }}</p>
    </div>
    {% endif %}
    </div>


</body>
<script>

</script>